* {
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
}

body {
    scroll-behavior: smooth;
    object-fit: contain;
    background-size: auto 100%;
    background-image: url("/assets/background-image-1-bg.png");
  }
  /*  Title Container */

  .container {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 40px 40px;
    object-fit: cover;
    background: rgba(128, 128, 128, 0.4);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; 
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
.title-container {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: url(/assets/rectangle-27-bg.png) no-repeat;
    width: 100%;
    background-size: 100% auto;
    background-position: center 50%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-text {
    background-color: rgba(250, 250, 250, 0.5);
    margin: 40px;
    padding:20px;
    border-radius:10px;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.title-text p{
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    font-family: Literata, 'Source Sans Pro';
    text-align: center;
    width:80%;
}

.title-text h1 {
    text-align: center;
    font-family: Lalezar, 'Source Sans Pro';
    font-size: 80px;
    font-weight: 800;
        display: inline-block;
        -webkit-background-clip: text;
        background-clip: text;
        color: #744342;
        -webkit-text-stroke-width: 0.1px;
        -webkit-text-stroke-color: rgb(26, 2, 2);
        line-height:94px;
}

.ph {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Literata, 'Source Sans Pro';
    font-weight: 800;
}


/* Grid 1 */

.grid1 {
    display: grid;
    grid-template-columns: auto 1fr;
    gap:20px;
    font-size: 15px;
    font-family: Literata, 'Source Sans Pro';
    color: #ffffff;
    background: #00000066;
    padding: 48px;
}
ol{
    list-style-type: none;
}
.grid1 img {
    width:500px;
    height:auto;
}

.left-pod {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.first-pod{
    display: flex;
    flex-direction: column;
    gap:4px;
}
.first-pod h2{
font-size:26px;
line-height:44px;
text-decoration: underline;
}
.first-pod p{
    font-size:20px;
}
.first-pod ol li{
    font-size:18px;
}

.last-pod p{
    font-size:12px ;
}
/* Carousel  */

.carousel-section{
    padding:56px;
    background-color: rgba(255, 255, 255, 0.35);
}
.carousel-title {
    display: flex;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .carouselcontainer{
    display: flex;
    padding: 20px 20px 0 20px;
    width: auto;
  }

  .carouselcontainer::-webkit-scrollbar {
    display: none;
  }

  .slides{
    width: 100%;
   margin-left:10px;
   margin-right: 10px;
    padding: 20px;
  }

  .carouselcontainer div img{
    width: 100%;
    border-radius: 12px;
  }
  .prev{
    margin-right: 10px;
  }
  .next{
    margin-left: 10px;
  }
  
  .empty{
    background: #00000066;

  }
  .carouselcontainer {
      max-width: 100%;
      overflow: hidden;
      position: relative;
}

.slides {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
}

.slider {
    flex: 0 0 auto;
    max-width:100%;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding:8px;
    background-color: #f3ebeb;
    border-radius: 50%;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}
button:hover{
    background-color: #ded9d9;
    transition: all 0.5s;
}


button img{
    width:10px;
    height:10px;
  
}
.prev {
    left: 0;
}

.next {
    right: 0;
}

  /* Grid 2 */
.contact-section{
 background: #00000066;

}
  .grid2 {
  
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    padding:40px 0 40px 0;
    gap:30px;
    
  }
  
  .contact {
    font-family: Literata, 'Source Sans Pro';
    display:flex;
    flex-direction: column;
    gap:10px;
  }
  
  .services {
    font-family: Literata, 'Source Sans Pro';
    display:flex;
    flex-direction: column;
    gap:10px;
  }
  .contact h3, .services h3{

    font-size: 28px;
  }
.contact p, .services ul li{
    font-size: 20px;
}

  .tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:12px;
    padding-bottom: 32px;
    text-align: center;

  }
  
  .tagline p {
    font-size: 25px;
    font-weight: 900;
    color: #ffffff;
    font-family: Tienne, 'Source Sans Pro';
  }
  
  .taglin p {
    text-decoration: none;
    font-size: 25px;
    font-weight: 900;
    color: #ffffff;
    font-family: Tienne, 'Source Sans Pro';
  }

  /* Grid 3 */


.grid3 {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 40px;
    background-color: rgba(128, 128, 128, 0.35);
  }
  .about-section{
    background-color: rgba(128, 128, 128, 0.35);
  }

.last-grid{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:40px;
    gap:20px;

}
.last{
    color:#000000;
    font-family: Literata, 'Source Sans Pro';

}
.last h4{
    font-family: Literata, 'Source Sans Pro';
font-size: 32px;
text-decoration: underline;
}

.about-section{
    background-color: rgba(255, 255, 255, 0.35);
}
.img-last img{
    width:500px;
    height:auto;
}


/*  Media Queries */

@media screen and (max-width: 1264px){
   .title-text{
    margin:10px;
   }
   .first-pod p, .first-pod ol li{
    font-size: 16px;
   }
}

@media screen and (max-width: 1024px) {
    .title-text{
        margin:10px;
       }
       .title-container{
        height:380px;
       }
    .first-pod h2{
        font-size: 22px;
    }
    .last-grid,.grid1{
        flex-direction: column;
    }
    .grid1{
        padding:20px;
       display: flex;
       flex-direction: column;
        align-items: center;
    }

    .last-grid img{
        width:100%;
        height:300px;
    }
    .title-container{
            background-size: 100% 100%;
            height:300px;
           }
    .title-text h1{
            font-size: 40px;
            line-height:42px;
           }
    .title-text p{
     font-size:22px;
    }
   .ph{
    font-size:20px ;
   }
   .carousel-title h2{
    font-size: 34px;
   }
   .left-pod{
    width:100%;
   }

.tagline p{
    font-size: 20px;
}
.carousel-section{
    padding:20px;
}
.carousel-title{
    font-size: 28px;
}
.carouselcontainer{
    padding: 0;
}


}

@media screen and (max-width: 900px){
    .contact p, .services ul li{
        font-size: 16px;
    }
    .tagline p{
        font-size: 16px;
    }
    .container{
        margin:10px;
    }
    .carousel-section{
        padding:20px;
    }
    .carousel-title{
        font-size: 28px;
    }
    .carouselcontainer{
        padding: 0;
    }
}


@media screen and (max-width: 600px) {
    .grid1{
        padding:20px;
    }
    .title-text h1{
        font-size: 30px;
        line-height:1;
       }
       .title-text p{
        font-size:18px;
        width:100%;
       }

    .ph{
    font-size:18px ;
    }
    .grid2{
        display:flex;
        flex-direction: column;
    }
    .grid1 img{
        width:100%;
    }
    .carousel-section{
        padding:20px;
    }
    .carousel-title h2{
        font-size: 20px;
    }
    .slides {
        flex-wrap: nowrap;
    }

    .slider {
        margin-right: 0;
    }

    .slides {
        display: flex;
        flex-wrap: nowrap;
    }

    .slider {
        flex: 0 0 auto;
        margin-right: 10px;
    }
    .services ul{
        padding:10px;
    }
    .grid2,.tagline{
        padding:20px;
    }

}


@media screen and (max-width: 400px) {
    .last-grid{
        padding:20px;
    }
    .last-grid img{
        height:200px;
    }
    .services ul{
        padding:10px;
    }
    .grid2,.tagline{
        padding:20px;
    }
    .container{
        margin:0;
    }
       .title-text{
        width: auto;
        height: auto;
       }
    .title-text p{
        font-size: 12px;
    }
    .ph{
        font-size:16px ;
        }
}
